.nav-center {
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
}
.navbar-brand{
  background: linear-gradient(to left, #004225 0%, #ffffff  150%);
  border-radius: 10px;
}
.navbar {
  background: #004225;
} 

.navbar-nav .primera-capa a{
  background-color: #009246;
  display: flex;
  align-items: center;
  height: 60px;
}
.navbar-nav .segunda-capa a{
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  height: 60px;
}
.navbar-nav .tercera-capa a{
  background-color: #CE1126;
  display: flex;
  align-items: center;
  height: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #333;
}

.carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  background: #ffffff;
}
.menu-item {
  margin-bottom: 1rem;
}

body {
  background-color: #1C1C1C !important;
}

.carta .img{
text-align: center;
}

.menu-item img {
  display: block;
  margin: 0 auto;
}
.menu-item{
  text-align: center;
}

.bg-image {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.display-4{
  background-color: #FFFFFF;
  border-radius: 10px;
}
.lead{
  background-color: #ffffff;
  color: #1C1C1C;
  border-radius: 10px;
}
.pOferta{
  color: #FFFFFF;
}